@model FoodDlvProject2.Models.ViewModels.StoreCreateVM
@{
    ViewData["Title"] = "Create";
}

<h1>新增店家</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create"enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StorePrincipalId" class="control-label"></label>
                <select asp-for="StorePrincipalId" class ="form-control" asp-items="ViewBag.StorePrincipalId"></select>
            </div>
            <div class="form-group">
                <label asp-for="StoreName" class="control-label"></label>
                <input asp-for="StoreName" class="form-control" />
                <span asp-validation-for="StoreName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactNumber" class="control-label"></label>
                <input asp-for="ContactNumber" class="form-control" />
                <span asp-validation-for="ContactNumber" class="text-danger"></span>
            </div>
    @*        <div class="form-group">
                <label asp-for="Photo" class="control-label"></label>
                <input asp-for="Photo" type="file" class="form-control" />
                <span asp-validation-for="Photo" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label class="control-label"></label>
                <input type="file" asp-for="Photo" class="form-control-file">
                <span asp-validation-for="Photo" class="text-danger"></span>
            </div>




            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

