@model FoodDlvProject2.EFModels.MemberViolationType

@{
    ViewData["Title"] = "Delete";
}

<h1>刪除介面</h1>


<div>
    <h4>會員違規清單</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ViolationContent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ViolationContent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Content)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="刪除" class="btn btn-danger" /> |
        <a asp-action="Index">返回</a>
    </form>
</div>
