@model FoodDlvProject2.EFModels.StoreCategory

@{
    ViewData["Title"] = "Delete";
}

<h1>刪除店家類別</h1>

<h3>你確定要刪除此店家類別?</h3>
<div>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategoryName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryContent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategoryContent)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
